@import url('https //fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Andale Mono, monospace;
    scroll-behavior: smooth;
}
/*
body{
    min-height: 1000px;
}
*/
p
{
    font-weight: 300;
    color: #111;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url(pizza-4.jpg);
}
.banner .content
{ 
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 5rem;
    color: #111;
}
.banner .content h3
{
    
    color: #fff;
}
.banner .content p
{
font-size: 1rem;
color: #fff;
}
.btn
{
    font-size: 1.2rem;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 2px;
    transition: 0.5s;
}


header.sticky
{
    background: #111;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0,0.05);
}
header.sticky .logo
{
    color: #fff;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header .logo
{
   color: #fff; 
   font-weight: 700;
   font-size: 2rem;
   text-decoration: none;
}
header .logo span
{
    color:#ff0157 ;
}
header .nav{
    position: relative;
    display: flex;
}
header .nav li
{
    list-style: none;
    margin-left: 30px;
}
header .nav li a
{
text-decoration: none;
color: #fff;
font-weight:300 ;
}

header.sticky .nav li a
{
    color: #fff;
}
header.sticky .nav li a:hover
{
    color: #ff0157;
}

section{
    padding: 100px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titletext
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titletext span
{
    color:#ff0157 ;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgbx
{
 position: relative;
 width: 100%;
 /*min-height:300px ;*/
 height: 100%;
}
.row .col50 .imgbx img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit:cover ;
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content
{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box
{
width: 340px;
margin: 20px;
border: 15px solid #fff;
box-shadow: 0 5px 35px rgba(0, 0, 0,0.08);
}
.menu .content .box .imgbx
{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgbx img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.menu .content .box .text
{
    padding: 15px 0 5px;
}
.menu .content .box .text h3
{
    font-weight: #111;
    color: #111;
}

.expert .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box
{
    width: 250px;
    margin: 15px;
}
.expert .content .box .text
{
    padding: 15px 0 5px;
}
.expert .content .box .text h3
{
    font-weight: 400;
    color: #111;
}
.témoignage
 {
     background: url(bois.jpg);
     background-size: cover;
 }
.white .titletext, .white p
{
color: #fff;
}
.témoignage .content
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.témoignage .content .box
{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.témoignage .content .box .imgbx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50px;
    overflow: hidden;
}

.témoignage .content .box .imgbx img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.témoignage .content .box .text
{
    text-align: center;
}
.témoignage .content .box .text p
{
    color: #666;
    font-style: italic;
}
.témoignage .content .box .text h3
{
    color: #ff0157;
}
.contact
{
    background: url(dess.jpg);
}
.contactf
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0,1);
    max-width: 500px;
    margin-top: 50px;
}
.contactf h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactf .inputbox
{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.contactf .inputbox input,
.contactf .inputbox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactf .inputbox input[type= submit]
{
    font-size: 1em ;
color: #fff;
background: #ff0157;
display: inline-block;
text-transform: uppercase;
text-decoration:none;
letter-spacing: 2px;
transition: 0.5s;
max-width: 100px;
font-weight: 500;
border: none;
cursor: pointer;
}

.copyrighttext
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0,0.1);
    text-align: center;
}

.copyrighttext p
{
    color: #333;
}
.copyrighttext a
{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}
@media (max-width: 991px)
{
    header,
    header.sticky
     {
       
        padding: 10px 20px;
}
header .nav{
    display: none;
}
.menutoggle
{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menutoggle.active
{
    background: url(icon1.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
   
}
}